h1{
    background-color: blue;
    color:aquamarine;
    text-align: center;
}
h2{
    background-color:aquamarine;
    color:blue;
    text-align: center;
}
h4{
    background-color:aquamarine;
    color:blue;
    text-align: center;
}
h3{
    background-color: aquamarine;
    color: blue;
    text-align: center;
}
li{
    background-color: blue;
    color:aquamarine;
    text-align: center;
}
footer{
    background-color: darkcyan;
    color:darkturquoise;
    text-align:center;
}